<div class="card">
  <div class="text-right">
    <p-button label="Add" icon="pi pi-plus" (click)="selectedIngredientId = null; isShowDetail = true" />
  </div>
  <div class="pt-2">
    <p-table [value]="ingredients" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Status</th>
          <th style="width:220px">Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-ing>
        <tr>
          <td>{{ ing.id }}</td>
          <td>{{ ing.name }}</td>
          <td>{{ ing.ingredientTypeName || '-' }}</td>
          <td>{{ ing.description }}</td>
          <td>
            <span
              [ngStyle]="{ 'background-color': ing.isActive ? '#28a745' : '#6c757d', color: '#fff', display: 'inline-block', padding: '.25rem .5rem', 'border-radius': '.25rem' }">{{ ing.isActive ? 'Active' : 'Inactive' }}</span>
          </td>
          <td>
            <p-button type="button" icon="pi pi-pencil" [rounded]="true" [text]="true"
                      (click)="selectedIngredientId = ing.id; isShowDetail = true"></p-button>
            <p-button type="button" [icon]="ing.isActive ? 'pi pi-ban' : 'pi pi-check'" [rounded]="true" [text]="true"
                      (click)="updateStatus(ing)"></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No data available</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-side-drawer [visible]="isShowDetail" (close)="isShowDetail = false" [title]="selectedIngredientId ? 'Detail' : 'Add'"
                 (save)="ingredientDetail.save()">
  <app-ingredient-detail #ingredientDetail [id]="selectedIngredientId"
                         (onSaved)="isShowDetail = false; getAllIngredients()"></app-ingredient-detail>
</app-side-drawer>
