<div class="card">
  <div class="text-right">
    <p-button label="Add" icon="pi pi-plus" (click)="selectedIngredientId = null; isShowDetail = true" />
  </div>
  <div class="pt-2">
    <p-table [value]="ingredients" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          <th>Unit</th>
          <th>Description</th>
          <th>Status</th>
          <th style="width:220px">Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-ing>
        <tr>
          <td>{{ ing.id }}</td>
          <td>{{ ing.name }}</td>
          <td>{{ getTypeNames(ing) }}</td>
          <td>{{ ing.unit }}</td>
          <td>{{ ing.description }}</td>
          <td>
            <p-tag [severity]="ing.isActive ? 'success' : 'danger'" [value]="ing.isActive ? 'Active' : 'Inactive'" />
          </td>
          <td>
            <p-button type="button" icon="pi pi-pencil" [rounded]="true" [text]="true"
              (click)="selectedIngredientId = ing.id; isShowDetail = true" pTooltip="Edit"></p-button>
            <p-button type="button" [icon]="ing.isActive ? 'pi pi-times' : 'pi pi-check'" [rounded]="true" [text]="true"
              [severity]="ing.isActive ? 'danger' : 'success'" (click)="updateStatus(ing)"
              [pTooltip]="ing.isActive ? 'Deactivate' : 'Activate'"></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No data available</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-side-drawer [visible]="isShowDetail" (close)="isShowDetail = false"
  [title]="selectedIngredientId ? 'Detail' : 'Add'" (save)="ingredientDetail.save()">
  <app-ingredient-detail #ingredientDetail [id]="selectedIngredientId"
    (onSaved)="isShowDetail = false; getAllIngredients()"></app-ingredient-detail>
</app-side-drawer>